/* om gradient over hele pagina te laten lopen zonder herhaling:*/
/* why tf zijn comments in elke taal met andere symbooltjes?*/
html {
  height: 100%;
}

body{
    background-image: linear-gradient(rgb(182, 224, 215),rgb(207, 155, 187));
    margin-top: 1em;
    margin-left: 5em;
    margin-right: 5em;
}

/* de twee buttons aanklikken verandert iets aan de breedte vd andere componenten: tekst, achtergrond, ...*/

.tekst{
    font-family: monospace;
}

h1 {
    text-align: center;
    background-color: rgb(182, 231, 225);
    border: 5px solid rgb(197, 182, 206);
    padding: 0.9em;
    margin-left: 4em;
    margin-right: 4em;;

}

.flex-container {
    display: flex;
    flex-direction: row;
  }

.col-1{
   text-align: center;
   padding: 1em;

  }

  .col-2 {
    text-align: center;
    padding: 1em;
  }

#minnie{ 
    width: 44%;
    border-radius: 25%;
}

#roger{ 
    margin-left: auto;
    margin-right: auto;
    width: 44%;
    border-radius: 25%;
    
}
  
/* Stack overflow: The Button Component accepts no style props, so you are unable to style it. */
/*button valt niet te styles voor het aanklikken*/
.like_button_container{
  cursor: pointer;
  background-color:  rgb(182, 231, 225);
  display: inline-block;/* maakt achtergrond passend aan breedte tekst*/
  font-family: monospace;
  padding: 0.5em;
}



/*div.container {
    text-align: left ;
    padding: 10px 20px;
  }
*/
